// Breakpoints
$big-desktop: 1800px;
$big-desktop-boundary: 1799px;
$desktop: 1200px;
$desktop-boundary: 1199px;
$tablet-landscape: 900px;
$tablet-landscape-boundary: 899px;
$tablet-portrait: 600px;
$tablet-portrait-boundary: 599px;