html[data-theme="dark"] {
  .home #stub-call-selector {
    background-color: #eee6e0 !important;
    color: #415462 !important;
  }
}

html[data-theme="light"] {
  .home #stub-call-selector {
    background-color: #000 !important;
    color: #bbc6ce !important;
  }
}

.home {  
  .home-header {
    h1 {
      text-align: center;
    }
    
    margin-bottom: 15px;
  }

  #stub-call-selector {
    border: 0 !important;
    margin-bottom: 15px !important;
    max-width: 300px !important;
  }
}