body {
  cursor: initial !important;
}

h1, h2 {
  margin-bottom: 10px !important;
}

h2 {
  margin-top: 5px !important;
  font-size: 1.5em !important;
}

.logo {
  max-height: 64px;
}

html[data-theme="dark"] {
  .home-logo.light {
    display: none;
  }

  #stub-call-selector {
    background-color: #eee6e0;
    color: #415462 !important;
  }
}

html[data-theme="light"] {
  .home-logo.dark {
    display: none;
  }

  #stub-call-selector {
    background-color: #000;
    color: #bbc6ce !important;
  }
}

.theme-switch {
  display: none;
}

#theme-switcher {
  cursor: pointer;
}

.footer {
  margin-top: 20px;
  opacity: 0.6;
}

.mt-1 {
  margin-top: .25rem !important
}

.mt-2 {
  margin-top: .5rem !important
}

.mt-3 {
  margin-top: 1rem !important
}

.copyable-script {
  position: relative;

  pre > code {
    padding-left: 42px !important;
  }

  .copy-icon {
    position: absolute;
    top: 8px;
    left: 14px;
    cursor: pointer;
  }
}

.download-icon {
  position: relative;
  bottom: 2px;
}

.blog-items {
  ul {
    padding-left: 0;

    li {
      list-style: none;
      font-size: 1.2em;
    }
  }
}

#stub-call-selector {
  border: 0 !important;
  margin-bottom: 25px !important;
  max-width: 300px !important;
}
