body {
    font-family: Arial, serif;
    color: #8b8b8b;
}

hr {
    border: 1px dashed #8b8b8b;
}

img.logo {
    width: 100%;
}

.message {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: #464646;
}
