.logo{
    height: 64px;
}

.home-logo {
    display: none;
}

html[data-theme="dark"] .home-logo.dark {
    display: block;
}

html[data-theme="light"] .home-logo.light {
    display: block;
}

.request-in-ui {
    display: none;
}

html[data-theme="dark"] .request-in-ui.dark {
    display: block;
}

html[data-theme="light"] .request-in-ui.light {
    display: block;
}