<h1>Downloads</h1>

<div>
    HttPlaceholder can be installed on the most populer OSes. Pick your OS and run the script from the terminal to
    install / update to the latest HttPlaceholder. If you update HttPlaceholder, make sure to read the <a
        href="{{{rootUrl}}}/changelog.html">changelog</a> to see if there are no breaking changes.
</div>

<div class="mt-3">
    <strong>
        <img src="{{rootUrl}}/img/windows.svg" alt="Windows" />
        Windows</strong>
    <div class="copyable-script">
        <img class="copy-icon" src="{{rootUrl}}/img/clipboard.svg" title="Copy script" alt="Copy script"/>
        <pre><code>Set-ExecutionPolicy Bypass -Scope Process -Force; iex ((New-Object System.Net.WebClient).DownloadString('https://raw.githubusercontent.com/dukeofharen/httplaceholder/master/scripts/Install-Windows.ps1'))</code></pre>
    </div>
</div>

<div class="mt-3">
    <strong>
        <img src="{{rootUrl}}/img/ubuntu.svg" alt="Linux"/>
        Linux</strong>
    <div class="copyable-script">
        <img class="copy-icon" src="{{rootUrl}}/img/clipboard.svg" title="Copy script" alt="Copy script"/>
        <pre><code>curl -o- https://raw.githubusercontent.com/dukeofharen/httplaceholder/master/scripts/install-linux.sh | bash</code></pre>
    </div>
</div>

<div class="mt-3">
    <strong>
        <img src="{{rootUrl}}/img/mac.svg" alt="Mac OS"/>
        Mac OS</strong>
    <div class="copyable-script">
        <img class="copy-icon" src="{{rootUrl}}/img/clipboard.svg" title="Copy script" alt="Copy script"/>
        <pre><code>curl -o- https://raw.githubusercontent.com/dukeofharen/httplaceholder/master/scripts/install-mac.sh | bash</code></pre>
    </div>
</div>

<div class="mt-3">
    <strong><img src="{{rootUrl}}/img/docker.svg" alt="Docker" /> Docker</strong>

    <p>
        HttPlaceholder has a Docker image; it can be found <a
            href="https://hub.docker.com/r/dukeofharen/httplaceholder">here</a>.
    </p>

    <p>
        Run the following command to run a basic HttPlaceholder container:
    </p>

    <div class="copyable-script">
        <img class="copy-icon" src="{{rootUrl}}/img/clipboard.svg" title="Copy script" alt="Copy script"/>
        <pre><code>docker run -p 5000:5000 dukeofharen/httplaceholder:latest</code></pre>
    </div>

    <p>
        <a href="https://github.com/dukeofharen/httplaceholder/tree/master/docker">Here</a> you can find a few Docker
        Compose examples how you can run HttPlaceholder using Docker.
    </p>
</div>

<div class="mt-3">
    <strong><img src="{{rootUrl}}/img/tool.svg" alt=".NET Tool"/> .NET Tool</strong>
    <div class="copyable-script">
        <img class="copy-icon" src="{{rootUrl}}/img/clipboard.svg" title="Copy script" alt="Copy script"/>
        <pre><code>dotnet tool install --global HttPlaceholder</code></pre>
    </div>
</div>

<div class="mt-3">
    <strong>Other</strong>

    <p>
        If you would like to install HttPlaceholder in another way (e.g. just download the ZIP and extract it yourself),
        you can do so. <a href="https://github.com/dukeofharen/httplaceholder/releases/latest">Click here</a> to view
        the latest release on GitHub.
    </p>
</div>