<div>
    <img src="{{{rootUrl}}}/img/logo.png" alt="HttPlaceholder" class="home-logo light"/>
    <img src="{{{rootUrl}}}/img/logo-white.png" alt="HttPlaceholder" class="home-logo dark"/>
</div>

<div>
    <p>
        HttPlaceholder lets you stub away any HTTP webservice. HttPlaceholder:
    </p>
    <ul>
        <li>can easily be installed on your dev PC.</li>
        <li>can be used to easily create stubs, either as separate YAML files, through the API or through the user
            interface.
        </li>
        <li>can easily be hosted on any server.</li>
        <li>can use many different HTTP condition checkers and response writers to make your HTTP stubs as specific
            as
            you need.
        </li>
    </ul>
</div>

<div class="getting-started">
    <h1>Getting started</h1>

    <p>
        Let's take a look at a short demo.
    </p>

    <ul>
        <li>Install HttPlaceholder (see <a href="{{{rootUrl}}}/download.html">Download</a>).</li>
        <li>Create a new .yaml file (e.g. <span><code>stub.yaml</code></span>).</li>
        <li>
            Copy and paste these contents in your new file:<br/>
            <pre><code>
- id: situation-01
  conditions:
    method: GET
    url:
      path:
        equals: /users
      query:
        id:
          equals: 12
        filter:
          equals: first_name
  response:
    statusCode: 200
    text: |
      {
        "first_name": "John"
      }
    headers:
      Content-Type: application/json</code></pre>
        </li>
        <li>Open the terminal in the folder you've added the <code>stub.yaml</code> file and run the following
            command: <code>httplaceholder</code>. HttPlaceholder will now start and will load the stubs in the
            current folder.<br/><img src="{{{rootUrl}}}/img/httplaceholder_running.png" alt="HttPlaceholder running in terminal"/>
        </li>
        <li>Perform a specific HTTP call to HttPlaceholder so your provided response will be returned.
            <ul>
                <li>For Linux / Mac (cURL needs to be installed): <code>curl
                    "http://localhost:5000/users?id=12&filter=first_name" -D-</code></li>
                <li>For Windows (uses Powershell): <code>(Invoke-WebRequest
                    "http://localhost:5000/users?id=12&filter=first_name").RawContent</code></li>
            </ul>
        </li>
        <li>You can view and inspect the performed requests in the user interface at http://localhost:5000/ph-ui.<br />
            <img src="{{{rootUrl}}}/img/request_in_ui_light.png" alt="Requests in UI" class="request-in-ui light" />
            <img src="{{{rootUrl}}}/img/request_in_ui_dark.png" alt="Requests in UI" class="request-in-ui dark" /></li>
    </ul>

    <p>For more sophisticated examples, go to the <a href="{{{rootUrl}}}/docs/index.html#samples">samples</a> to view
        samples for all supported HTTP condition checkers and response writers. Learn more about HttPlaceholder by
        reading the <a href="{{{rootUrl}}}/docs/index.html">documentation</a>.</p>
</div>
