<div class="home">
    <div class="logo">
        <img src="{{{rootUrl}}}/static/img/logo.png" alt="HttPlaceholder"/>
    </div>

    <div>
        <p>
            HttPlaceholder lets you stub away any HTTP webservice. HttPlaceholder:
        </p>
        <ul>
            <li>can easily be installed on your dev PC.</li>
            <li>can be used to easily create stubs, either as separate YAML files, through the API or through the user
                interface.
            </li>
            <li>can easily be hosted on any server.</li>
            <li>can use many different HTTP condition checkers and response writers to make your HTTP stubs as specific
                as
                you need.
            </li>
        </ul>
    </div>
    
    <div class="getting-started">
<!--         TODO installation & small demo -->
    </div>
</div>