<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="HttPlaceholder - Quickly stub away any HTTP service using configuration in YAML">
    <link rel="canonical" href="{{{rootUrl}}}"/>
    <link rel="stylesheet" type="text/css" href="{{{rootUrl}}}/style/style.css"/>
    <link rel="shortcut icon" type="image/png" href="{{{rootUrl}}}/favicon.ico"/>
    <link rel="alternate" type="application/rss+xml" title="HttPlaceholder posts / tutorials" href="{{{rootUrl}}}/feed.xml" />
    <script defer data-domain="httplaceholder.org" src="https://stats.ducode.org/js/plausible.js"></script>
    <script src="{{{rootUrl}}}/vendor/hljs/highlight.min.js"></script>
    <script src="{{{rootUrl}}}/vendor/hljs/languages/csharp.min.js"></script>
    <script src="{{{rootUrl}}}/vendor/hljs/languages/javascript.min.js"></script>
    <script src="{{{rootUrl}}}/vendor/hljs/languages/yaml.min.js"></script>
    <script src="{{{rootUrl}}}/vendor/hljs/languages/powershell.min.js"></script>
    <script src="{{{rootUrl}}}/vendor/hljs/languages/bash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{{rootUrl}}}/vendor/bootstrap-icons/bootstrap-icons.min.css"/>
    <script src="{{{rootUrl}}}/script/script.js"></script>
    <meta name="google-site-verification" content="seLZef60omxVFwUo6bNzSCoijB-fWpe7p1JFVE5pooI" />

    <title>{{pageTitle}}</title>
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><a href="{{{rootUrl}}}/" aria-label="Back home">
            <img src="{{{rootUrl}}}/img/logo_single.png" class="logo" alt="HttPlaceholder"/>
        </a></li>
    </ul>
    <ul>
        <li><a href="{{{rootUrl}}}/" class="secondary">Home</a></li>
        <li><a href="{{{rootUrl}}}/download.html" class="secondary">Download</a></li>
        <li><a href="{{{rootUrl}}}/docs" class="secondary">Documentation</a></li>
        <li><a href="https://github.com/dukeofharen/httplaceholder/discussions" class="secondary">Forum</a></li>
        <li><a class="secondary" id="theme-switcher">
            <i class="bi bi-brightness-high theme-switch sun" title="Switch to light theme"></i>
            <i class="bi bi-moon theme-switch moon" title="Switch to dark theme"></i>
        </a></li>
    </ul>
</nav>
<div class="container">
    {{{body}}}
</div>
<div class="container footer">
    Created by <a href="https://ducode.org">Ducode</a> | <a href="https://github.com/dukeofharen/httplaceholder"
                                                            title="">View on GitHub</a> | <a
        href="{{{rootUrl}}}/changelog.html">Changelog</a>
</div>
</body>
</html>
