<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="canonical" href="{{{rootUrl}}}"/>
    <link rel="stylesheet" type="text/css" href="{{{rootUrl}}}/static/style/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{{rootUrl}}}/static/style/pico.min.css"/>
    <link rel="shortcut icon" type="image/png" href="{{{rootUrl}}}/static/favicon.ico"/>
    <script defer data-domain="httplaceholder.org" src="https://stats.ducode.org/js/plausible.js"></script>
    <script src="{{{rootUrl}}}/static/script/script.js"></script>

    <title>{{pageTitle}}</title>
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><a href="{{{rootUrl}}}" aria-label="Back home">
            <img src="{{{rootUrl}}}/static/img/logo_single.png" class="logo" alt="HttPlaceholder"/>
        </a></li>
    </ul>
    <ul>
        <li><a href="{{{rootUrl}}}" class="secondary">Home</a></li>
        <li><a href="{{{rootUrl}}}/download.html" class="secondary">Download</a></li>
        <li><a href="{{{rootUrl}}}/docs" class="secondary">Documentation</a></li>
        <!--        <li><a href="{{{rootUrl}}}/tutorials.html" class="secondary">Tutorials</a></li>--> <!-- TODO -->
        <li><a href="https://github.com/dukeofharen/httplaceholder/discussions" class="secondary">Forum</a></li>
        <li><a class="secondary" id="theme-switcher">
            <img src="{{rootUrl}}/static/img/sun.svg" class="theme-switch sun" alt="Switch to light theme" title="Switch to light theme"/>
            <img src="{{rootUrl}}/static/img/moon.svg" class="theme-switch moon" alt="Switch to dark theme" title="Switch to dark theme"/>
        </a></li>
    </ul>
</nav>
<div class="container">
    {{{body}}}
</div>
<div class="container footer">
    Created by <a href="https://ducode.org">Ducode</a> | <a href="https://github.com/dukeofharen/httplaceholder"
                                                            title="">View on GitHub</a> | <a
        href="{{{rootUrl}}}/changelog.html">Changelog</a>
</div>
</body>
</html>
