<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="canonical" href="{{{rootUrl}}}"/>
    <link rel="stylesheet" type="text/css" href="{{{rootUrl}}}/static/style/style.css"/>
    <link rel="shortcut icon" type="image/png" href="{{{rootUrl}}}/static/favicon.png"/>
    <link rel="alternate" type="application/rss+xml" title="Duco's blog" href="{{{rootUrl}}}/feed.xml" />
    <script defer data-domain="ducode.org" src="https://stats.ducode.org/js/plausible.js"></script>

    <title>{{pageTitle}}</title>
</head>
<body>
{{{body}}}
</body>
</html>
